<section class="page-header">
  <h1 class="project-name">AiC <span>2.0</span></h1>
 
	{% if page.lang == "en" %}
	<h2 class="project-tagline">Test your Android applications in the Cloud</h2>
	<a href="#" class="btn">View the code</a>
  	<a href="#" class="btn">View the demo</a>
  	<a href="#" class="btn">Ask for web access</a>
	{% elsif page.lang == "fr" %}
	<h2 class="project-tagline">Testez vos applications Android dans le Cloud</h2>
	<a href="#" class="btn">Voir les sources</a>
  	<a href="#" class="btn">Voir la démo</a>
  	<a href="#" class="btn">Demander un accès web</a>
	{% endif %}



<!-- lang choice -->
{% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
{% for post in posts %}
    <a href="{{ post.url }}" class="{{ post.lang }} btn">{{ post.langTitle }}</a>
{% endfor %}

{% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
{% for page in pages %}
    <a href="{{ page.url }}" class="{{ page.lang }} btn">{{ page.langTitle }}</a>
{% endfor %}

</section>