<section class="page-header">
  <h1 class="project-name">AiC <span>2.0</span></h1>
 
	{% if page.lang == "en" %}
	<h2 class="project-tagline">Test your Android applications in the Cloud</h2>
	<a href="https://github.com/AiC-Project" class="btn">View the code</a>
  	<!-- <a href="#" class="btn">View the demo</a> -->
  	<a href="https://goo.gl/forms/mwM85JuVu5oWSdHx2" class="btn">Ask for web access</a>
  	<a href="/" title="English version" class="trans btn lang en active">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
  	<a href="/index_fr.html" title="Version française" class="trans btn lang fr">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>

	{% elsif page.lang == "fr" %}
	<h2 class="project-tagline">Testez vos applications Android dans le Cloud</h2>
	<a href="https://github.com/AiC-Project" class="btn">Voir les sources</a>
  	<!-- <a href="#" class="btn">Voir la démo</a> -->
  	<a href="https://goo.gl/forms/oZpycSo4W7rZmTos2" class="btn">Demander un accès web</a>
  	<a href="/" title="English version" class="trans btn lang en">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
  	<a href="/index_fr.html" title="Version française" class="trans btn lang fr active">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
	{% endif %}



<!-- lang choice -->
{% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
{% for post in posts %}
    <!-- <a href="{{ post.url }}" class="{{ post.lang }} btn">{{ post.langTitle }}</a> -->
{% endfor %}
{% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
{% for page in pages %}
    <!-- <a href="{{ page.url }}" class="{{ page.lang }} btn">{{ page.langTitle }}</a> -->
{% endfor %}

</section>